/* html,
body {
    height: 100%;
} */

.wave-btn__container {
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



li {
    padding: 10px;
}